*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
.special-color{
    color: #E55473;
}

/* nav menu container styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    padding: 10px 0px;
    background-color:#b5b5b5;
}
.menus{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    gap: 25px;
    align-items: center;
}

/* banner styles here  */
.banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    gap: 100px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #272727;
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Lato;
   
}
.btn{
    background-color:#E55473;
    border: none;
    border-radius: 5px;
    font-family: Lato;
    font-size: 20px; 
    font-weight: 700;
    color: #fff;
    padding: 15px 30px;
}
.banner-image{
    margin-top: 50px;

}
/* common style for title and description  */

.section-title{
    margin: 120px 0px 20px 0px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 40px;
}

.section-text{
    font-size: 18px;
    margin: auto;
    padding-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
}

/* featured section styles here */
.featured-items{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:end ;
    margin: auto;
    gap: 25px;

}
.items{
    display: flex;
    align-items: center;
    align-items: center;
    height: 100px;
}
.item-text{
    text-align: center;
    margin-top: 20px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;

}
.item1{
    background-color: #A7216226;
    border-radius:200px 200px 0px 0px;
    padding: 100px 50px 0px 50px;
    height: 500px;
}

.item2{
    background-color:#0597A026;
    border-radius:200px 200px 0px 0px;
    padding: 100px 0px 0px 50px;
    height: 500px;
}

.item3{
    background-color: #477D1126;
    border-radius: 200px 200px 0px 0px;
    padding: 100px 50px 0px 50px;
    height: 500px;
}

/* delivery support container styles here */
.delivery-support{
    background-color:red;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.delivery-support-container{
    margin: 100px 150px 100px 150px;
    width: 80%;
}
.delivery-support{
    width: auto;
    background-color: #2727270D;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}
.delivery-support-item{
    justify-self:center;
    padding: 50px 70px;
}

/* new section for hot deal section  */
.hotdeal-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 100px 150px;
}

/* instagram feed section start here */
.instagram-description{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Get The Latest Deals section start here  */
/* .latest-deals-container{
    background-image: url("images/Rectangle9.png");
    border-radius: 8px;
    margin-top: 100px;
    background-repeat: no-repeat;
} */
.latest-deals-container{
    /* padding: 30px; */
    background-image: url("images/Rectangle9.png");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 80%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.latest-deals{
    padding: 50px;
}
.email-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.email-box{
    background-color:#ffffff;
    border: none;
    border-radius: 5px;
    font-family: Lato;
    font-size: 20px; 
    font-weight: 700;
    color: #fff;
    padding: 15px 30px;
}
.email-box>input{
    border: none;
    width: 500px;
}

/* footer styles start here  */
footer{
    background-color: #111010;
    padding: 130px 0px;
    margin-top: 100px;
}
.footer-title{
    font-size: 70px;
    color: white;
    font-weight: 800;
    text-align: center;
}
.footer-text{
    font-size: 18px;
    margin: auto;
    padding: 40px 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    width: 50%;
}
.copy-rights-text{
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
}